@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form-group">
    <form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
    <input type="file" id="fileUpload" name="fileUpload" >
    <p class="help-block">Upload .md file</p>
    
    <button type="submit" class="btn btn-primary" > Submit File </button>
    </form>

    <p>@Model.ResponseMessage </p>
</div>

<div class="text-center">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col"> Name File </th>
                <th scope="col">File Size </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var data in Model!.MDDatas!)
            {
                <tr>
                    <td>@Model.AddId()</td>
                    <td>@data.Title</td>
                    <td>@(data.FileSize > 0 ? $"{data.FileSize/ 1024:N2} Kb" : "0")</td>
                    <td>
                        <a asp-page="/mdcontent" asp-route-id="@data.Id" class="btn btn-primary"> 
                            Show
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@data.Id"/>
                            <button type="submit" class="btn btn-danger" > Delete </button>
                        </form>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
